body {
  padding-top: 0rem;
  color: rgb(19, 18, 18);
  background-color: rgba(253, 253, 253, 0.562);
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
  color: brown;
}
container-fluid{
  color: brown;
  background-color: dimgrey;
}



a{
  color: whitesmoke;
}

h1{
  text-align: left;
}
