/* Estilos generales */
html, body {
  height: 100%;
  margin: 0;
  background-color: #FFF8E7; /* Fondo crema claro */
}

/* Botón flotante para confirmar pedido */
#toggle-sidebar {
  position: fixed;
  bottom: 10px; /* 20px desde el borde inferior */
  right: 10px; /* 20px desde el borde derecho */
  z-index: 999;
  background-color: white;
  border: 2px solid red;
  color: red;
  font-weight: bold;
  font-size: 16px;
  padding: 6px 10px;
  border-radius: 5px;
  max-width: 200px;
  text-align: center;
  width: auto;
  transition: opacity 0.3s ease; /* Animación para desvanecer */
}


/* Sidebar (Carrito desplegable) */
#carrito {
  position: fixed;
  left: 0;
  bottom: -100%; /* Inicialmente oculto */
  width: 100%;
  max-height: 60vh;
  background-color: #f8f9fa;
  padding: 20px;
  border-top: 2px solid #ccc;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  transition: bottom 0.6s ease-in-out;
  z-index: 10;
}

#carrito.active {
  bottom: 0;
}

/* Ajustes para el contenido principal */
.main-content {
  margin-left: 15px;
  margin-right: 270px;
}

/* Estilos de las tarjetas de productos */
.card {
  background-color: #fff9f0;
  border: 2px solid #cfcfcf;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.card-title {
  font-weight: bold;
  color: #e87410;
}

.card-body {
  padding: 15px;
}
